psycopg2-binary
Django==1.11
git+https://github.com/soynatan/django-easy-audit.git
django-grappelli==2.11.1
django-pipeline==1.6.14

# prometheus monitoring support
django-prometheus==1.0.14
prometheus_client==0.2.0
